* {
    font-family: 'DM Serif Display', serif;
    scroll-behavior: smooth;
}



.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 2px;
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=2a1618330e&attid=0.1&permmsgid=msg-f:1774708858770123669&th=18a1084de2bb6b95&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-wSbl7JkkKxQGDWQndARRgoqHyxu3bMWkd-lpm5aunxbC19ZBLNW-KwURgbAVuZtZaw-EbCeG42jVoeIfHXligCDLER8w0DJ55CzrlHD4p9D47JsjAu-JxsZ8&disp=emb&realattid=49684a139a583951_0.1.1");
    background-size: cover;
    background-position: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
}
.h1 {
    background-color: rgb(163, 176, 147);
}

h1,p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 50%;
}

.p {
    text-align: center;
    font-size: larger;
}

section {
    display: flex;
    justify-content: center;

}

nav ul {
    color:antiquewhite;
    text-decoration: none;
}


li {
    display: flex;
    display: inline;
    text-align: center;
    max-width: 100%;
}

img {
    text-align: center;
    box-shadow: 10px 10px #494646;
}

main {
    color: antiquewhite;
    background-color: rgb(136, 136, 136);
}

figure {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 
    
   
    .thumbnail:hover { 
    transform: scale(1.12); 
    
    }

    .thumbnail-two { 
        top:-50px; 
        left:-35px; 
        display:block; 
        z-index:999; 
        cursor: pointer; 
        -webkit-transition-property: all; 
        -webkit-transition-duration: 0.3s; 
        -webkit-transition-timing-function: ease; 
        } 
        
     
        .thumbnail-two:hover { 
        transform: scale(1.05); 
        
        }


            a{
                background-image: linear-gradient(
                  to right,
                  #979797,
                  #998a9d 50%,
                  #fcfcfc 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
              }

              a:before{
                content: '';
                background: #d4b9a9;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
              }
              
              a:hover {
               background-position: 0;
              }
              
     h2 {
            background-color: rgb(163, 176, 147);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        
     }

        @media screen and (max-width: 992px) {
            nav ul {
                display: flex;
                flex-direction: row;
                margin-right: 1rem;
                text-align: center;
                
            }
            aside ul li {
                display: flex;
                flex-direction: column;
                padding-left: 1rem;
            }
        }
          @media screen and (max-width: 768px) {
            nav {
              background-color: #bb8588;
            }
          }
          
        
          @media screen and (max-width: 576px) {
             main {
                background-color: #857f7f;
                display: flex;
                flex-direction: column;
                align-items: center;
             }
             figure {
                display: flex;
                flex-direction: column;
                
             }

            
        }