* {
    font-family: 'DM Serif Display', serif;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 2px;
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=2a1618330e&attid=0.1&permmsgid=msg-f:1774708858770123669&th=18a1084de2bb6b95&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-wSbl7JkkKxQGDWQndARRgoqHyxu3bMWkd-lpm5aunxbC19ZBLNW-KwURgbAVuZtZaw-EbCeG42jVoeIfHXligCDLER8w0DJ55CzrlHD4p9D47JsjAu-JxsZ8&disp=emb&realattid=49684a139a583951_0.1.1");
    background-size: cover;
    background-position: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
}
.h1 {
    background-color: rgb(163, 176, 147);
}

h1,p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p {
    text-align: center;
    font-size: larger;
}

section {
    display: flex;
    justify-content: center;

}

nav ul {
    color:antiquewhite;
    text-decoration: none;
}


li {
    display: flex;
    display: inline;
    text-align: center;
    max-width: 100%;
}

img {
    text-align: center;
}

main {
    color: antiquewhite;
    background-color: rgb(47, 58, 43);
}

figure {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}